.ad-search-input {
  .dip-input-prefix {
    margin-right: 8px;
  }

  .s-input-icon {
    color: var(--ad-disabled-color);
    cursor: pointer;

    &:hover {
      color: var(--ad-heading-color);
    }
  }

  &.dip-input-affix-wrapper-focused,
  &.dip-input-affix-wrapper:focus {
    .s-input-icon {
      color: var(--ad-heading-color);
    }
  }
}
