.container {
  :global {
    .dip-table-placeholder .dip-table-cell {
      border: none;
    }

    .dip-table-header .dip-table-thead .dip-table-cell {
      background: none;
      padding-top: 4px;
      padding-bottom: 4px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.75);
    }
  }
}
