.bubbleList {
  :global {
    .dip-bubble-list {
      gap: 16px;
      overflow-y: unset;

      .dip-bubble-body {
        width: 100%;
        .dip-bubble-content {
          //width: calc(100% - 40px);
          width: 100%;
          min-height: unset;
          position: unset;
        }
      }



      .dip-bubble-end {
        .dip-bubble-content {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
