.ToolParamTable {
  .dip-table-cell-with-append {
    .dip-table-row-expand-icon {
      float: unset;
      vertical-align: top;
    }
  }

  .dip-table-placeholder .dip-table-cell {
    overflow-y: hidden;
    border-bottom: none;
  }
}

.tool-input-param-modal-no-data .ad-table-nodata-box {
  margin: 0 !important;
  padding: 0 0 18px 0 !important;
}

.tool-input-param-modal-no-data .dip-table-cell {
  overflow: hidden;
}
