.onto-pro-error-tip {
  padding: 0;

  .dip-popover-arrow {
    display: none;
  }

  .dip-popover-inner {
    border-radius: 4px;
  }

  .dip-popover-inner-content {
    padding: 8px 12px;
  }
}

.ad-error-tip {
  > div,
  .dip-input,
  .dip-select-selector,
  .dip-input-affix-wrapper,
  .ad-prompt-input-editor,
  .dip-select:not(.dip-select-borderless) .dip-select-selector,
  .llmPromptRoot-systemPrompt {
    border-color: var(--dip-error-color) !important;
  }
}
